body {
    margin:0;
    font-family:'Inter', sans-serif;
    background:#f8f9fc;
    color:#1e1e2f;
}

h1,h2,h3 {
    font-family:'Playfair Display', serif;
}

.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
    background:white;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

.logo {
    height:65px;
}

nav a {
    margin-left:30px;
    text-decoration:none;
    color:#1e1e2f;
    font-weight:500;
}

.btn {
    background:#4c3fb1;
    color:white;
    padding:12px 30px;
    border-radius:40px;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
}

.btn:hover {
    background:#372c91;
}

.hero {
    height:90vh;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url('https://images.unsplash.com/photo-1543269865-cbf427effbad');
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:white;
    padding:0 10%;
}

.hero h1 {
    font-size:55px;
}

.hero span {
    color:#a88cff;
}

.hero p {
    margin:20px 0;
    font-size:20px;
}

.about {
    display:flex;
    align-items:center;
    padding:100px 10%;
    gap:60px;
}

.about img {
    width:100%;
    border-radius:20px;
}

.program-preview {
    padding:100px 10%;
    text-align:center;
}

.program-cards {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:40px;
    margin-top:50px;
}

.card {
    background:white;
    padding:50px;
    border-radius:20px;
    box-shadow:0 10px 40px rgba(0,0,0,0.05);
    transition:0.3s;
}

.card:hover {
    transform:translateY(-10px);
}

.cta {
    padding:100px 10%;
    text-align:center;
    background:#4c3fb1;
    color:white;
}

footer {
    padding:50px;
    text-align:center;
    background:#111;
    color:white;
}
